.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

.task {
    /* Tasks */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 736px;
    height: 451px;
    left: calc(50% - 736px/2);
    top: 291px;
}

.info {
    /* Info */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    gap: 561px;

    width: 736px;
    height: 19px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.done {
    /* Done */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 138px;
    height: 19px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.created {
    /* Created */
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 138px;
    height: 19px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.counted {
    /* Counter */
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    width: 24px;
    height: 19px;

    /* Gray 400 */

    background: #333333;
    border-radius: 999px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

 .tarefascriada {
    /* Tarefas criadas */

    width: 106px;
    height: 17px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    /* Blue */

    color: #4EA8DE;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
 }

 .concluidas {
/* Concluídas */
    width: 78px;
    height: 17px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    /* Purple */

    color: #8284FA;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
 }
 
.counter {
    /* Counter */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    width: 52px;
    height: 19px;

    /* Gray 400 */

    background: #333333;
    border-radius: 999px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

@media(max-width: 768px) {
    html {
        font-size: 87.5%;
    }
    
    .wrapper {
        grid-template-columns: 1fr;
    }
}